@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bgcol;
}

button {
  @apply w-60 rounded-md bg-lightgreen text-white hover:bg-green-400;
}

label {
  @apply font-bold;
}

input {
  @apply h-8 w-40 rounded-md border-2;
}

tr {
  @apply h-[50px];
}

th {
  @apply text-slate-600;
}

/* tbody {
  @apply scrollbar ml-auto mr-auto block max-h-[125px] overflow-x-hidden overflow-y-scroll;
  scrollbar-gutter: stable;
}

thead,
tbody tr {
  @apply ml-auto mr-auto table w-[100%] table-fixed;
} */

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
  }

  /* 滾動條滾動時的樣式 */
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.25em;
  }

  /* 滾動條的輪廓 */
  .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* 滾動條的角落 */
  .scrollbar::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  /* 滾動條在 hover 時顯示 */
  .scrollbar::-webkit-scrollbar:hover {
    width: 0.5em;
  }

  /* 滾動條在 hover 時顯示，滾動時持續顯示 */
  .scroll::-webkit-scrollbar-thumb:hover,
  .scroll::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
